{% load i18n %}

<article class="xblock-render" lang="fr">

    <p class="">
        {% if child_fragments %}
            {% blocktrans count elements=child_fragments|length %}
                This Proctor Exam exam contains 1 element.
            {% plural %}
                This Proctor Exam exam contains {{ elements }} elements.
            {% endblocktrans %}
            <br>
            {% trans "Click on 'View' to edit." %}
        {% else %}
            {% trans "This Proctor Exam exam does not contain any element yet." %}
            <br>
            {% trans "Click on 'View' to add." %}
        {% endif %}
    </p>

    <p>
        {% trans "Exam url is: " %} <a href="{{ lms_link }}" target="_blank">https:{{ lms_link }}</a>
    </p>

    <hr>

<p>
Documentation&nbsp;:
</p>
<ul>
    <li>
        <a href="https://www.reseau-fun.help/hc/fr/articles/360001343197" target="_blank">Mettre en place un examen certifiant avec le système ProctorExam</a>
    </li>
    <li>
        <a href="https://www.fun-mooc.help/hc/fr/articles/360001215417" target="_blank">Examen certifiant&nbsp;: vérification de la configuration de votre ordinateur</a>
    </li>
</ul>

<p>
Dans vos consignes pour votre examen, veuillez ajouter les phrases suivantes au début et à la fin de votre sujet d'examen&nbsp;:
<br>
<strong>
"A la fin de l'examen, pour valider vos réponses, cliquez sur le bouton "Vérification finale".
Après et seulement avoir cliquez sur le bouton "Vérification finale", allez sur l'onglet "ProctorExam" ouvert sur votre navigateur et cliquez sur le bouton bleu "Examen Terminer" se trouvant en haut à droit de la page."
</strong>
</p>



</article>