recursive-include proctor_exam/locale/*/LC_MESSAGES *
recursive-include proctor_exam/static/css *.css
recursive-include proctor_exam/static/html *.html
recursive-include proctor_exam/public/images *.png
