.proctor-exam .frame {
    width: 95%;
    display: block;
    padding: 16px 16px 4px 16px;
    border-left: 10px solid #4479b3;
    border-top: 1px solid #4479b3;
    margin-bottom: 30px;
    border-radius: 20px;
    box-shadow: 5px 5px 7px #4479b3;
}

.proctor-exam .cnil {
    width: 90%;
    display: block;
    margin-left: 20px;
    margin-right: 20px;
    padding: 16px 16px 4px 16px;
    border-left: 10px solid #0EA665;
    border-top: 1px solid #0EA665;
    margin-bottom: 30px;
    border-radius: 20px;
    box-shadow: 5px 5px 7px #0EA665;
}


.proctor-exam ul {
    padding-left: 60px !important;
}

.proctor-exam h1 {
    color: #4479b3;
    margin-bottom: 0.8em;
}

.proctor-exam a,
.proctor-exam a:visited,
.proctor-exam a:hover,
.proctor-exam a:active {
    text-decoration: underline !important;
    color: #4479b3 !important;
}
.proctor-exam input[type=submit] {
    margin: auto;
    display: block;
    font-size: 20px;
    margin-top: 40px;
}

.proctor-exam p.message {
    font-size: 20px;
    color: red;
}